@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	background:top center;
}
html {
	padding:0;
	margin:0;
}
li.bg, .bg {
	clear:both;
	border-bottom:1px solid #e1e3e4;
	padding:0;
	margin:15px;
	background:none;
	list-style:none;
}
p.clr, .clr {
	clear:both;
	padding:0;
	margin:0;
}
.main {
	margin:0 auto;
	padding:0;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:974px;
}
.header {
	margin:0;
	padding:0;
	background:url(images/header_bg.gif) top repeat-x;
}
.logo {
	width:400px;
	margin:0 auto;
	padding:0;
	float:left;
}
h1 {
	margin:0;
	padding:24px 0 24px 40px;
	color:#fff;
	font:normal 40px/1.2em Arial, Helvetica, sans-serif;
}
h1 a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}
h1 span {
	font-weight:bold;
}
h1 small {
	display:block;
	margin:4px 0;
	padding:2px 6px 3px;
	float:left;
	font:normal 11px/1.2em Arial, Helvetica, sans-serif;
	background-color:#6cd6ff;
	border:1px solid #92dfff;
}
h1 small {
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
.menu {
	padding:0;
	margin:0;
	width:513px;
	height:39px;
	float:right;
	background:url(images/menu_bg.gif) top no-repeat;
}
.menu ul {
	text-align:center;
	padding:0;
	margin:0;
	list-style:none;
	border:0;
}
.menu ul li {
	margin:0;
	padding:5px 0 0 30px;
	border:0;
	float:left;
}
.menu ul li a {
	float:left;
	margin:0;
	padding:5px 15px;
	color:#fff;
	font:normal 14px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.menu ul li a:hover {
	color:#d6d9db;
}
.menu ul li a.active {
	color:#d6d9db;
}
.text_header {
	background:url(images/text_bg.gif) left no-repeat;
	margin:20px 0 0 0;
	padding:0;
	float:right;
	width:470px;
}
.text_header p {
	font:italic 12px Arial, Helvetica, sans-serif;
	color:#fff;
	padding:10px 20px;
	margin:0;
}
.headert_text_resize_bg {
	height:304px;
	background:url(images/header_text_bg.gif) top repeat-x;
	margin:0;
	padding:0;
}
.headert_text_resize img {
	float:left;
	margin:0;
	padding:25px 0 0 0;
}
.headert_text_resize {
	width:974px;
	padding:0;
	margin:0 auto;
	background:top no-repeat;
	height:259px;
}
.headert_text_resize .textarea {
	width:500px;
	margin:0;
	padding:40px 40px 0 0;
	float:right;
}
.headert_text_resize .textarea h2 {
	font:normal 30px Arial, Helvetica, sans-serif;
	color:#676c72;
	padding:0;
	margin:0;
}
.headert_text_resize .textarea h2 span {
	font:normal 28px Arial, Helvetica, sans-serif;
	color:#acafb4;
}
.headert_text_resize .textarea h2 a {
	color:#39beff;
	text-decoration:none;
}
.headert_text_resize .textarea p {
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#767b81;
	padding:15px 0;
	margin:0;
	line-height:1.6em;
}
.headert_text_resize .textarea ul {
	list-style:none;
	margin:0;
	padding:0;
}
.headert_text_resize .textarea li {
	background:url(images/header_text_ul_li.gif) left no-repeat;
	padding:2px 0 5px 15px;
	margin:0;
	font:normal 11px Tahoma, Geneva, sans-serif;
	color:#008cd9;
	text-decoration:underline;
}
.body_bg {
	border-top:1px solid #d6d8da;
	background:#f0f1f2;
	margin:0;
	padding:20px 0;
}
.body {
	margin:0 auto;
	padding:0 20px;
	width:960px;
}
.body h2 {
	font:normal 30px Arial, Helvetica, sans-serif;
	color:#6d6d6d;
	padding:5px;
	margin:5px 0 10px 0;
}
.body h2 span {
	color:#35b2ef;
}
.body p {
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#6d6d6d;
	padding:5px;
	margin:0;
	line-height:1.8em;
}
.body img {
	float:left;
	margin:5px;
	padding:0;
}
.body img.floated {
	float:right;
	margin:5px 10px 5px 0;
	padding:0;
}
.body a {
	color:#484440;
	text-decoration:none;
}
.left_resize {
	width:652px;
	margin:20px 0 0 0;
	padding:0 0 20px 0;
	float:left;
	border:1px solid #c7cacd;
	background:#fff;
}
.right_resize {
	width:260px;
	margin:0;
	padding:0 0 20px 0;
	float:right;
}
.left {
	float:left;
	width:632px;
	margin:0;
	padding:10px;
}
.right {
	float:right;
	width:230px;
	margin:20px 0 0 0;
	padding:10px;
	border:1px solid #c7cacd;
	background:#fff;
}
.right ul {
	list-style:none;
	margin:5px 10px;
	padding:0;
}
.right li {
	border-bottom:1px dashed #6d6d6d;
	background:url(images/ul_li.gif) 10px 10px no-repeat;
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#464646;
	padding:5px 0;
	margin:3px 0;
}
.right li a {
	padding:0 0 0 25px;
	margin:0;
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#6d6d6d;
	text-decoration:none;
	background:none;
}
.right li a:hover {
	color:#35b2ef;
	text-decoration:none;
}
.right ul.sponsors {
	list-style:none;
	margin:5px 5px;
	padding:0;
}
.right li.sponsors {
	background:none;
	font:normal 11px Georgia, "Times New Roman", Times, serif;
	color:#404a52;
	padding:5px 0;
}
.right li.sponsors a {
	padding:0 0 0 0px;
	margin:0;
	font:normal 13px Arial, Helvetica, sans-serif;
	color:#6d6d6d;
	text-decoration:none;
	background:none;
}
.right li.sponsors strong {
	color:#35b2ef;
}
.search {
	padding:13px 0 0 0;
	margin:0 auto;
}
.search form {
	float:right;
	padding:0;
	margin:0;
}
.search span {
	display:block;
	float:left;
	background:#fafafa;
	border:1px solid #d3d3d3;
	width:180px;
	padding:1px 5px;
	height:31px;
}
.search form .keywords {
	line-height:14px;
	height:14px;
	float:left;
	background:none;
	border:0;
	padding:6px 2px;
	margin:0;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#7f7e7d;
}
.search form .button {
	float:left;
	margin:0 0 0 5px;
	padding:0;
}
.FBG_bg {
	background:#e1e3e4;
	border-top:1px solid #c7cacd;
}
.FBG {
	margin:0 auto;
	padding:0 20px;
	width:960px;
}
.FBG img {
	float:left;
	margin:5px 10px 5px 0;
	padding:0;
}
.FBG h2 {
	color:#676c72;
	font:normal 30px Arial, Helvetica, sans-serif;
	padding:3px 0;
	margin:5px 0 15px 0;
	border-bottom:1px solid #c8cbce;
}
.FBG h2 span {
	color:#35b2ef;
}
.FBG p {
	color:#6d6d6d;
	font:normal 12px Arial, Helvetica, sans-serif;
	padding:5px 0;
	margin:0;
	line-height:1.8em;
}
.FBG ul {
	list-style:none;
	width:130px;
	float:left;
	padding:0;
	margin:10px 0;
}
.FBG li {
	padding:2px 0;
	margin:0;
	background:none;
}
.FBG li a {
	background:none;
	border:0;
	color:#63adcb;
	font:normal 12px Arial, Helvetica, sans-serif;
	text-decoration:underline;
}
.FBG li a:hover {
	color:#676c72;
	text-decoration:none;
}
.FBG .blok {
	width:280px;
	float:left;
	padding:15px 20px;
	margin:0;
}
.footer_resize {
	margin:0 auto;
	padding:0;
	width:974px;
}
.footer {
	padding:20px 0;
	margin:0 auto;
	border-top:1px solid #25282c;
	color:#fff;
	background:#3e4349;
	font:normal 12px Arial, Helvetica, sans-serif;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
}
.footer a {
	color:#fff;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
#contactform {
	margin:0;
	padding:5px;
}
#contactform * {
	color:#F00;
}
#contactform ol {
	margin:0;
	padding:0;
	list-style:none;
}
#contactform li {
	margin:0;
	padding:0;
	background:none;
	border:none;
	display:block;
	clear:both;
}
#contactform li.buttons {
	margin:5px 0 5px 0;
}
#contactform label {
	margin:0;
	width:110px;
	display:block;
	padding:10px 0;
	color:#666;
	font:normal 12px Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	float:left;
}
#contactform label span {
	color:#F00;
}
#contactform input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
	float:left;
}
#contactform textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
	float:left;
}
#contactform li.buttons input {
	border:1px solid #000;
	background:#ea7d1b;
	padding:10px;
	margin:10px 0 0 110px;
	color:#fff;
	float:left;
	font:normal 12px Arial, Helvetica, sans-serif;
}
p.response {
	text-align:center;
	color:#F00;
	font:normal 11px Georgia, "Times New Roman", Times, serif;
	line-height:1.8em;
	width:auto;
}
