body {
	background:url("../design/bg.png") 0 0 repeat-x;
	font:0.8em/1.5 "arial", sans-serif;
}
address, blockquote, dl, fieldset, form, h1, h2, h3, h4, h5, h6, ol, p, table, ul {
	margin:15px 0;
}
h2 {
	font-size:160%;
	font-weight:normal;
}
h3, h4, h5 {
	font-size:100%;
	font-weight:bold;
}
ul.ul {
	margin:15px 0;
}
ul.ul li {
	padding:1px 0 1px 16px;
	background:url("../design/bullet.png") 0 5px no-repeat;
}
ul.ul li.active a {
	font-weight:bold;
	text-decoration:none;
}
table.table th, table.table td {
	padding:7px;
}
table.table th {
	font-weight:bold;
}
fieldset {
	padding:15px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
fieldset legend {
	font-size:100%;
	font-weight:bold;
}
fieldset table {
	margin:0;
}
fieldset th, td {
	padding:3px 0;
	vertical-align:top;
}
fieldset th {
	padding-right:10px;
}
input, textarea, select, button {
	font:100%/1.3 "arial", sans-serif;
}
#bg {
	background:url("../design/bg-inner.jpg") 50% 0 no-repeat;
}
#main {
	width:900px;
	margin:0 auto;
	padding:50px 0;
}
#header {
	position:relative;
}
#header #appstore {
	position:absolute;
	top:0;
	right:0;
	margin:0;
}
#header #device {
	position:relative;
	width:445px;
	height:400px;
	overflow:hidden;
	margin:0 auto 30px auto;
	background:url("../design/device.png") 0 0 no-repeat;
}
#header #device p {
	margin:0;
}
#header #device p img {
	display:block;
}
#header #device p #screen-01 {
	position:absolute;
	top:129px;
	left:13px;
	margin:0;
}
#header #device p #screen-02 {
	position:absolute;
	top:70px;
	left:138px;
	margin:0;
}
#header #device p #screen-03 {
	position:absolute;
	top:129px;
	left:324px;
	margin:0;
}
#header #device ul li img {
	display:block;
}
#header h1 {
	margin:0;
	text-align:center;
	font-size:420%;
	line-height:1;
}
#header h2 {
	margin:0;
	text-align:center;
	font-size:150%;
	line-height:1;
}
#content {
	padding:35px 0;
}
#content .col-left {
	float:left;
	width:280px;
}
#content .col-right {
	float:right;
	width:590px;
}
#footer {
	clear:both;
	padding:20px 0;
	background:url("../design/separator.png") 0 0 repeat-x;
	font-size:85%;
}
#footer p {
	margin:0;
}
#content .boxes {
	margin:0;
}
#content .boxes li {
	display:block;
	float:left;
	width:280px;
	margin-right:30px;
}
#content .boxes li.last {
	margin-right:0;
}
#content .boxes li h3, #content .boxes li p {
	margin:0;
}
#content .boxes li h3 {
	font-size:100%;
	font-weight:bold;
}
#content .boxes li p {
	font-size:85%;
}
#content .boxes li .boxes-img {
	float:left;
	width:80px;
	padding-top:3px;
}
#content .boxes li .boxes-img img {
	display:block;
}
#content .boxes li .boxes-desc {
	float:right;
	width:190px;
}
#content .twitter {
	margin:35px 0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:20px;
	background:url("../design/transparent.png");
}
#content .twitter .twitter-img {
	float:left;
	width:80px;
}
#content .twitter .twitter-img img {
	display:block;
}
#content .twitter .twitter-desc {
	float:right;
	width:760px;
}
#content .twitter .twitter-desc ul {
	margin:0;
	font:italic 160%/1.2 "georgia", serif;
}
#content .gallery {
	margin:0;
}
#content .gallery li {
	display:block;
	width:110px;
	float:left;
	margin-right:10px;
}
#content .gallery li.last {
	margin-right:0;
}
#content .box-01 {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:20px;
	background:url("../design/transparent.png");
}
#content .box-01 ul {
	margin:0 !important;
}
#content ul.ul {
	margin:15px 0 15px 30px;
}
#content ul.ul ul {
	margin:0;
}
.high a:hover {
	text-decoration:none;
}
.bigger {
	font-size:110%;
}
.smaller {
	font-size:85%;
}
.input-text {
	padding:2px;
	border:none;
}
.input-submit {
	padding:3px 8px;
	font-weight:bold;
}
img.f-left {
	margin-right:15px;
}
img.f-right {
	margin-left:15px;
}
