* {
    margin: 0;
    padding: 0;
}
audio[controls],
video {
	display: block;
}
/* always define a default */
audio {
	width: 328px;
	height: 28px;
}
video {
	width: 510px;
	height: 280px;

}

code {
	display: block;
	margin: 0 0 10px;
	white-space: pre;
}
.demo-themeswitcher {
	float: right;
}
p {
	margin: 10px 0;
}
