@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#959595;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
	background:#538136 url(images/header_bg.jpg) no-repeat center top;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	margin:0;
	padding:0;
	float:left;
	width:auto;
}
h1 {
	margin:0;
	padding:36px 0 36px 40px;
	color:#feffff;
	font:bold 40px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#feffff;
	text-decoration:none;
}
h1 small {
	display:block;
	padding-left:80px;
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	color:#edf3f6;
	letter-spacing:normal;
}
h2 {
	font:normal 24px/1.5em Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:8px 0;
	color:#323a3f;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
	text-align:left;
}
a {
	color:#9bc336;
	text-decoration:underline;
}
a.com {
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:970px;
}
.menu_nav {
	margin:0 0 6px;
	padding:0 40px;
	height:56px;
	background-color:#f7faf6;
}
.menu_nav ul {
	list-style:none;
}
.menu_nav ul li {
	margin:0;
	padding:0;
	float:left;
	border-right:1px solid #ebebeb;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:17px 24px;
	color:#959595;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	color:#9bc336;
}
.content {
	padding:6px 0 16px;
}
.content_resize {
	margin:0 auto;
	padding:24px 0;
	width:970px;
	background:url(images/content_bg.gif) repeat-y center top;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:670px;
}
.content .mainbar img {
	border:1px solid #d9dcdc;
}
.content .mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.content .mainbar .article {
	margin:0;
	padding:8px 24px 8px 40px;
	border-bottom:1px solid #efefef;
}
.content .sidebar {
	padding:0;
	float:right;
	width:300px;
}
.content .sidebar .gadget {
	margin:0;
	padding:8px 16px 8px 40px;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#959595;
	text-decoration:none;
	margin-left:-12px;
	padding-left:12px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#9bc336;
	font-weight:bold;
	background:no-repeat left center;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content p.pages {
	padding:8px 24px 8px 40px;
	font-size:11px;
	color:#959595;
	text-align:right;
}
.content p.pages span, .content p.pages a:hover {
	padding:5px 10px;
	color:#fff;
	background-color:#9bc336;
	border:1px solid #9bc336;
}
.content p.pages a {
	padding:5px 10px;
	color:#959595;
	background-color:#fff;
	border:1px solid #edebeb;
	text-decoration:none;
}
.content p.pages small {
	font-size:11px;
	float:left;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	background:repeat-x center bottom;
}
.fbg_resize {
	margin:0 auto;
	width:890px;
	padding:24px 40px 12px;
	background-color:#fff;
}
.fbg ul li {
	padding:4px 0;
}
.fbg a {
	margin:0;
	padding:2px 4px;
}
.fbg ul li a {
	margin:0;
	padding:2px 4px;
	background:none;
	text-decoration:none;
}
.fbg ul li a:hover {
	text-decoration:underline;
	font-weight:normal;
}
.fbg h2 {
}
.fbg img {
	padding:3px;
	border:1px solid #cfd2d4;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:266px;
}
.fbg .c2 {
	padding:0 16px;
	width:300px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:260px;
}
.footer {
}
.footer_resize {
	margin:0 auto;
	padding:24px 40px;
	width:890px;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
}
.footer a {
	color:#959595;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	float:right;
}
#formsearch {
	margin:0;
	padding:4px 0;
}
#formsearch span {
	display:block;
	margin:6px 0;
	padding:0;
	float:left;
	background:#fff url(images/search.gif) no-repeat top left;
}
#formsearch input.editbox_search {
	margin:0;
	padding:11px 6px 10px;
	float:left;
	width:181px;
	border:none;
	background:none;
	font:normal 12px/1.5em Arial, Helvetica, sans-serif;
	color:#a8acb2;
}
#formsearch input.button_search {
	margin:6px 0 0 0;
	padding:0;
	border:none;
	float:left;
}
