@charset "utf-8";
body {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
}
/******************* Color Page *******************/
.colorPicker {
	position:absolute;
	left:0;
	background-color:#000;
	font-family:"Trebuchet MS";
	font-size:14px;
	line-height:normal;
	z-index: 10;
}
.color {
	list-style:none;
	display:block;
	float:left;
	margin:0;
	color:#FFF;
}
.color li {
	display:inline-block;
	float:left;
	padding-right:10px;
}
.color li a {
	color:#FFF;
	outline: none;
	text-decoration: none;
}
/*************** Header **************/
#header {
	width: 100%;
	height:71px;
	background:url(../img/bkg_header.png) repeat-x;
}
.logo {
	float: left;
}
#header a {
	display: inline;
}
#header ul {
	float: right;
	position:relative;
	margin: 24px 0 0;
}
#header li {
	display: inline;
	margin: 0 5px;
	list-style: none;
}
#header li a {
	color: #fff;
	font-size: 16px;
	outline: none;
	text-decoration: none;
	font-weight: bold;
}
.wrapper {
	width: 1000px;
	min-height: 71px;
	margin:auto;
	position:relative;
}
.banner {
	width: 100%;
	height: 428px;
	position:relative;
	padding: 33px 0 0;
}
img.img_banner {
	position:absolute;
	left:0;
	top:0;
}
.info_banner {
	width: 637px;
	height: 328px;
	margin: 21px 0 0;
	background:url(../img/info_banner.png);
	padding: 20px 0 0 160px;
}
.info_banner h2 {
	font-size: 28px;
	color: #fff;
	font-style:italic;
	text-shadow: 1px 1px 10px #000;
	margin: 0 0 67px 0;
}
.info_banner span {
	width: 310px;
	font-size: 14px;
	margin: 0 0 10px 100px;
	display: block;
	line-height:24px;
}
.info_banner input[type='button'] {
	width: 188px;
	height: 48px;
	border: 0;
	margin: -60px 20px 0;
	float: right;
	color: #fff;
	font-size: 24px;
	text-shadow: 1px 1px 1px #000;
	padding: 0 25px 0 0;
}
/************ Cascading style *********/
.rights {
	float: right;
}
.lefts {
	float: left;
}
.clear {
	clear: both;
}
.margin_li {
	margin: 0px 20px 0 0;
}
/**********/
/***** Content ****/
#content {
	width: 1000px;
	min-height: 200px;
	margin:auto;
}
.top_content {
	width: 1000px;
	height: 64px;
	margin:auto;
	padding:15px;
}
.top_content h2 {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.ul_content {
	width: 307px;
	float:left;
	margin: 0 20px 0 0;
}
.ul_content li {
	list-style: none;
}
.ul_content li h2 {
	color: #272c38;
	font-size: 24px;
	margin: 0 0 15px 0;
}
.ul_content li p {
	color: #272c38;
	font-size: 12px;
	line-height: 20px;
	margin: 0 0 20px 0;
}
.ul_content li input[type='button'] {
	width: 307px;
	height: 46px;
	border: 0;
	color: #000;
	font-size: 18px;
}
.ul_content li input[type='button']:hover {
	background:url(../img/btn_content.png) no-repeat;
}
.li_img {
	text-align:center;
}
.ul2_content {
	margin: 20px 0 0;
	overflow:hidden;
	list-style: none;
	padding: 10px 0 64px 0;
	background: url(../img/bkg_content1.png) center bottom no-repeat;
}
.li2_content {
	float: left;
}
.ul2_content h2 {
	font-size: 30px;
	color: #272c38;
	text-shadow: 1px 1px 0px #fff;
	font-style: italic;
	margin: 20px 0 10px;
}
.ul2_content p {
	font-size: 24px;
	color: #6a6a6a;
}
.ul2_content input[type='button'] {
	width: 188px;
	height: 48px;
	float: right;
	border: 0px;
	color: #fff;
	font-size: 24px;
	text-shadow: 1px 1px 1px #000;
	padding: 0 25px 0 0;
}
.ul2_content input[type='button']:hover, .info_banner input[type='button']:hover {
	background: url(../img/btn_2.png);
}
.wait_news {
	width: 1000px;
	height: 94px;
}
.wait_news h2 {
	font-size: 50px;
	color: #272c38;
	display: inline;
	float:left;
	margin: 20px 0 0 10px;
}
.wait_news p {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	float: left;
	width: 340px;
	margin: 25px 0px 0 100px;
	color: #272c38;
}
.info_wait {
	width: 829px;
	height: 84px;
	float: right;
	background: url(../img/bkg_wait.png) no-repeat;
}
.info_wait label {
}
.info_wait input[type='text'] {
	width: 241px;
	height: 26px;
	border:0;
	margin: 25px 0 0;
	line-height: 25px;
	background: transparent url(../img/bkg_input_text.png);
	float: left;
}
.info_wait input[type='submit'] {
	width: 83px;
	height: 28px;
	float:left;
	border: 0;
	margin: 23px 0 0 10px;
	background: transparent url(../img/btn_signup.png);
}
#footer {
	width: 100%;
	padding:20px 0;
	background:url(../img/bkg_footer.png) repeat-x #2B303C;
}
.box_footer {
	width: 250px;
	margin-bottom:15px;
	overflow: hidden;
}
.box_footer h2, .box2_footer h2 {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	margin: 25px 0px;
}
.box_footer p {
	font-size: 12x;
	color: #999999;
	margin: 0 0 13px 0;
}
.box_footer span {
	font-weight: bold;
	color: #999999;
	display: block;
}
.box2_footer {
	width: 440px;
	overflow: hidden;
	margin: 0 0 15px 40px;
}
.box2_footer ul {
	float: left;
	list-style: none;
}
.box2_footer li {
	margin: 0 35px 4px 0;
}
.box2_footer a {
	color: #999999;
	text-decoration: none;
}
.box2_footer a:hover {
	color: #F90;
	text-decoration: none;
}
.copyright_text {
	display:block;
	width:100%;
	margin:0 auto;
	padding:15px 0 0 0;
	clear:both;
	color:#999999;
	text-align:center;
	border-top:1px solid #424A56;
}
.copyright_text a {
	text-decoration:none;
}
