@charset "utf-8";
.banner {
	background: url(../img/violet/bkg_banner.jpg) center no-repeat;
}
#header li a:hover {
	color: #888dc3;
	font-size: 16px;
}
.top_content {
	background: url(../img/violet/head_content.png) no-repeat;
}
.ul_content li input[type='button'] {
	background:url(../img/violet/btn_content.png) no-repeat;
}
.ul2_content input[type='button'], .info_banner input[type='button'] {
	background: transparent url(../img/violet/btn_2.png);
}
