@charset "utf-8";
.banner {
	background: url(../img/yellow/bkg_banner.jpg) center no-repeat;
}
#header li a:hover {
	color: #dfae53;
	font-size: 16px;
}
.top_content {
	background: url(../img/yellow/head_content.png) no-repeat;
}
.ul_content li input[type='button'] {
	background:url(../img/yellow/btn_content.png) no-repeat;
}
.ul2_content input[type='button'], .info_banner input[type='button'] {
	background: transparent url(../img/yellow/btn_2.png);
}
