.jcarousel-skin-tango .jcarousel-container {
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	width:960px;
	height:324px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width:960px;
	height:324px;
}
.jcarousel-skin-tango .jcarousel-item {
	width:960px;
	height:324px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right:10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background:#fff;
	color:#000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
	position:absolute;
	top:129px;
	right:11px;
	width:65px;
	height:64px;
	cursor:pointer;
	background:transparent url(images/rarr.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	position:absolute;
	top:129px;
	left:11px;
	width:65px;
	height:64px;
	cursor:pointer;
	background:transparent url(images/larr.png) no-repeat 0 0;
}
