.col1, .col2, .col3, .cols {
	float:left;
}
.col1 {
	width:500px;
}
.col2 {
	width:290px;
}
.cols {
	width:225px;
}
#page1 {
	background:url(../images/bg_top.gif);
}
#page1 .text {
	background:url(../images/bg_img1.jpg) 0 0 no-repeat;
	padding:71px 0 0 535px;
	margin-top:17px;
	height:339px;
}
#page1 .text1 span {
	padding-bottom:40px;
}
#page4 .cols {
	width:85px;
}
